<div class="row">
    <div class="col-md-12 text-center" >
        <div ng-show="isEventListEmpty()" class="empty-list blue">
            <span class="glyphicon glyphicon-warning-sign"></span>
            <h3>
                <div>No events</div>
                <small>Please click in 'Add event' if you want to start the check-in process</small>
            </h3>
        </div>
        <table ng-hide="isEventListEmpty()" class="table table-hover events">
            <thead>
                <tr>
                    <th>Events</th>
                    <th class="right">
                        <button type="button" class="btn btn-primary btn-sm"
                                ng-click="editMode=true"
                                ng-show="!editMode">
                            <span class="glyphicon glyphicon-edit"></span>
                            Edit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm"
                                ng-click="editMode=false"
                                ng-show="editMode">
                            <span class="glyphicon glyphicon-remove"></span>
                            Cancel
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in events | orderBy: '-date'"
                    ng-click="go_to_registrants(event.event_id, event.server_id)"
                    ng-disabled="event.showActions"
                    ng-swipe-left="event.showActions=true"
                    ng-swipe-right="event.showActions=false"
                    ng-show="events">
                    <td>{{event.title}}</td>
                    <td class="right" ng-show="!editMode">
                        {{event.date}}
                    </td>
                    <td class="right" ng-show="editMode" style="z-index: 1000">
                        <button type="button" class="btn btn-danger btn-sm"
                                ng-click="delete_event($event, event.event_id, event.server_id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
