<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Personal Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Checked in </td>
                    <td>
                    <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch"
                           class="onoffswitch-checkbox" id="onoffswitch"
                           ng-model="checked_in">
                        <label class="onoffswitch-label" for="onoffswitch">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td> Check-in date </td><td> {{check_in_date}} </td>
                </tr>
                <tr>
                    <td> Name </td><td> {{name}} </td>
                </tr>
                <tr>
                    <td> Registration date </td><td> {{registration_date}} </td>
                </tr>
                <!-- If fields are disabled on the server side they will be
                     undefined and we want to hide them. -->
                <tr ng-hide="position == undefined">
                    <td> Position </td><td> {{position}} </td>
                </tr>
                <tr ng-hide="institution == undefined">
                    <td> Institution </td><td> {{institution}} </td>
                </tr>
                <tr ng-hide="adress == undefined">
                    <td> Adress </td><td> {{adress}} </td>
                </tr>
                <tr ng-hide="city == undefined">
                    <td> City </td><td> {{city}} </td>
                </tr>
                <tr ng-hide="country == undefined">
                    <td> Country </td><td> {{country}} </td>
                </tr>
                <tr ng-hide="phone == undefined">
                    <td> Phone </td><td> {{phone}} </td>
                </tr>
                <tr>
                    <td> Email </td><td> {{email}} </td>
                </tr>
                <tr ng-hide="home_page == undefined">
                    <td> Personal homepage   </td><td> {{home_page}} </td>
                </tr>
                <tr ng-hide="payed == undefined">
                    <td> Paid </td><td> {{ payed && 'Yes' || 'No' }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
