<div class="row">
    <div class="col-md-12" >
        <div ng-show="isRegistrantListEmpty()" class="empty-list blue text-center">
            <span class="glyphicon glyphicon-warning-sign"></span>
            <h3>
                <div>No attendees</div>
            </h3>
        </div>
        <div ng-hide="isRegistrantListEmpty()" class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right badge bg-blue">{{registrants.length}}</div>
                <h3 class="panel-title">Attendees</h3>
            </div>
            <div class="list-group registrants">
                <a ng-repeat="registrant in registrants | orderBy: 'registrant_id'" class="list-group-item"
                   ng-click="go_to_registrant(registrant)">
                    <div ng-show="registrant.checked_in" class="pull-right checked">
                        <span class="glyphicon glyphicon-ok green"></span>
                    </div>
                    <h4 class="list-group-item-heading">{{registrant.full_name}}</h4>
                </a>
            </div>
        </div>
    </div>
</div>
