<div class="row">
    <div class="col-md-12 text-center" >
        <table class="table table-hover events">
            <thead>
                <tr>
                    <th>Atendees</th>
                    <th class="right"><span class="badge bg-blue">{{registrants.length}}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="registrant in registrants | orderBy: '-id'"
                    ng-click="go_to_registrant(registrant)">

                    <td>{{registrant.full_name}} </td>
                    <td class="right">
                        <span ng-show="registrant.checked_in"
                              class="glyphicon glyphicon-ok-circle blue">
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
