body {
    padding-top: 70px;
}

.checkin-nav {
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

header.checkin-nav {
    background-color: #0B63A5;
    height: 46px;
    color: #ffffff;
}

header.checkin-nav  > .title {
    color: #ffffff;
    font-size: 1.2em;
    position: absolute;
    left: 1.6em;
    right: 1.6em;
    text-align: center;
    display: inline-block;
    line-height: 46px;
}

header.checkin-nav  > a {
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
    float: left;
    line-height: 46px;
    min-width: 46px;
}

header.checkin-nav > a:hover {
    color: #0E80D8;
}

footer.checkin-nav {
    min-height: 50px;
    line-height: 50px;
    border-bottom: none;
    border-top: 1px solid #0E80D8;
    background-color: #EEE;

}

footer.checkin-nav nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-box-pack: justify;
    -o-box-pack: justify;
    box-pack: justify;
    width: 100%;
    font-size: 11px;
    margin:0;
}

footer.checkin-nav > nav  a {
    display: block;
    padding: 0;
    height: 50px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
}

footer.checkin-nav nav .glyphicon {
    font-size: 1.8em;
    display: block;
    width: inherit;
}

footer.checkin-nav nav > a {
    color: #0B63A5;
}

footer.checkin-nav nav > a:hover {
    color: #0E80D8;
}

table.events > tbody > tr > td,
table.registrants > tbody > tr > td {
    text-align: left;
    vertical-align: middle !important;
}

table.events .right,
table.registrants .right {
    text-align: right;
}

table .btn{
  padding: 0px 5px;
}

.blue {
    color: #0B63A5;
}

.bg-blue {
    background-color: #0B63A5;
}
